*.html
*.ndb
*.o
*.s
*.wasm
.config
.vscode
/.vscode/settings.json
/dist/
/ext/
/include/
/lib/clang/
/lib/dest*
/lib/wasm32-wasi*
/nlvm/nlvm
/nlvm/nlvm.ll
/nlvm/nlvm.self
/nlvm/nlvm.self.ll
/nlvm/nlvmr
/nlvm/nlvmr.self
/x86_64-w64-mingw32
badeggs.json
nimcache
