nlvm/nlvm
nlvm/nlvmr
nimcache
*.s
/nlvm/nlvm.self
/nlvm/nlvm.self.ll
/nlvm/nlvm.ll
/testament.db
*.ndb
ext/
testresults
badeggs.json
/test.ini
/test.txt
testament/
tests/
*.html
lib/
examples/
tools
/.vscode/settings.json
dist/
/megatest.nim
.vscode
