name: Continuous
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install deps
        run: sudo apt-get install -y libcurl4-openssl-dev libsdl1.2-dev libgc-dev libncurses5-dev jq cmake ninja-build clang
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up environment
        run: |
          export CC=clang
          export CXX=clang++
          export LD=clang++
      - name: Set up llvm
        run: make STATIC_LLVM=1 prepare-llvm
      - name: Compile nim
        run: make STATIC_LLVM=1 prepare-nim
      - name: Run tests
        run: make STATIC_LLVM=1 test
      - name: Run self-compare
        run: make STATIC_LLVM=1 compare
      - name: Create distribution
        run: bash make-dist.sh
      - name: Update release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
          bash upload.sh dist/*
