name: Continuous
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev libsdl1.2-dev libgc-dev libncurses5-dev jq cmake ninja-build clang
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up environment
        run: |
          echo "CC=clang" >> $GITHUB_ENV
          echo "CXX=clang++" >> $GITHUB_ENV
          echo "LD=clang++" >> $GITHUB_ENV
      - name: Set up llvm
        run: make STATIC_LLVM=1 prepare-llvm
      - name: Compile nim
        run: make STATIC_LLVM=1 prepare-nim
      - name: Run tests
        run: |
          cat ci-skipped-tests.txt >>skipped-tests.txt
          make STATIC_LLVM=1 test
      - name: Run self-compare
        run: make STATIC_LLVM=1 compare
      - name: Create distribution
        run: bash make-dist.sh
      - name: Update release
        if: github.ref == 'refs/heads/master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Local copy of the following script:
          # wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
          bash upload.sh dist/*
